/** * WordPress Offers. * * @since 1.0.0 * @package WordPress Offers * @copyright 2021 Lacey Tech * @link https://lacey-tech.com */


/* Offers Admin */

body.wp-admin #offers_preview .offer {
    margin: 15px 8px 8px 8px !important;
}

body.wp-admin.post-type-offers #offers_preview .cmb2-id-offer-preview,
body.wp-admin.post-type-offers #edit-slug-box,
body.wp-admin.post-type-offers #preview-action {
    display: none !important;
}


/* 
Applies to all offers */


/* .offer {
    margin: 35px auto;
    padding: 20px;
    max-width: 700px;
}

.offer .offer-inner .text h2,
.offer .offer-inner .text h3,
.offer .offer-inner .text h4 {
    font-size: 22px;
    margin: 0 0 20px 0;
} */


/* Text Only */


/* .offer.text {
    margin: 35px 0;
    padding: 20px;
    width: 100%;
}

.offer.text .offer-inner {
    border: 1px dashed #fff;
    text-align: center;
} */


/* Text and Image */


/* .offer.text-image .offer-inner {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.offer.text-image .offer-inner .text .end-date {
    font-size: 14px;
    font-weight: bold;
}

.offer.text-image .image {
    width: 100%;
    max-width: 60%;
    min-height: 200px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.offer.single-image .offer-inner .image {
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */


/* Shortcode Views */

.offers-list {
    padding: 20px 0;
}

.offers-list .offer-item {
    margin: 0 0 20px 0;
}

.offers-list .offer-item:last-of-type {
    margin-bottom: 0;
}

.active {
    background: green;
}

.inactive {
    background: red;
}

.offers-table {
    padding: 20px 0;
}

.offers-table table {
    border-collapse: collapse;
    width: 100%;
}

.offers-table table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;
}

.offers-table table thead tr td:nth-child(1) {
    width: 60%;
}

.offers-table table thead th,
.offers-table table tbody td {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 10px;
}

.offers-table table tbody tr {
    border-bottom: 1px solid #ddd;
}

.offers-table table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.offers-table table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


/* Front end offer CSS */

.offer-inner {
    position: absolute;
    top: 15%;
    left: 3%;
}

.offer.text-only {
    position: relative;
    height: 335px;
}


/* SlideshowoffersCSS */

.mySlides {
    display: none
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media only screen and (max-width: 426px) {
    h3.headline {
        font-size: 15px !important;
    }
    .text {
        width: 90%;
    }
    .description {
        font-size: 10px !important;
    }
    .offer.text-only {
        height: 435px;
    }
}