/*! WordPress Offers v1.0.0 (c) 2021 Lacey Tech | https://lacey-tech.com */

/**
 * WordPress Offers.
 *
 * @since 1.0.0
 * @package WordPress Offers
 * @copyright 2021 Lacey Tech
 * @link https://lacey-tech.com
 */


/* Offers Admin */
body.wp-admin #offers_preview .offer {
    margin: 15px 8px 8px 8px !important;
}

body.wp-admin.post-type-offers {
    #offers_preview .cmb2-id-offer-preview,
    #edit-slug-box,
    #preview-action {
        display: none !important;
    }
}

/* Applies to all offers */
.offer {
    margin: 35px auto;
    padding: 20px;
    max-width: 700px;

    .offer-inner {
        .text {
            h2, h3, h4 {
                font-size: 22px;
                margin: 0 0 20px 0;
            }
        }
    }
}

/* Text Only */
.offer.text {
    margin: 35px 0;
    padding: 20px;
    width: 100%;

    .offer-inner {
        border: 1px dashed #FFF;
        text-align: center;
    }
}

/* Text and Image */
.offer.text-image {
    .offer-inner {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .text {
            .end-date {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .image {
        width: 100%;
        max-width: 60%;
        min-height: 200px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

}

.offer.single-image {
    .offer-inner {
        .image {
            width: 100%;
            min-height: 250px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}


/* Shortcode Views */
.offers-list {
    padding: 20px 0;

    .offer-item {
        margin: 0 0 20px 0;
    }

    .offer-item:last-of-type {
        margin-bottom: 0;
    }
}

.active{
    background: green;
}
.inactive{
    background: red;
}

.offers-table {
    padding: 20px 0;

    table {
        border-collapse: collapse;
        width: 100%;

        thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        thead tr td:nth-child(1) {
            width:60%;
        }

        thead th, tbody td {
            font-size: 1.6rem;
            line-height: 2rem;
            padding: 10px;
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    }
}